@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/MenuSys/DayReport/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'OID', hidden: true },
                { label: '日期', name: 'CrDate', width: 130, align: 'left' },
                { label: '订单数量', name: '订单数量', width: 130, align: 'left' },
                { label: '营业额', name: '营业额', width: 130, align: 'left' },
                { label: '最高单额', name: '最高单额', width: 130, align: 'left' },
                { label: '最低单额', name: '最低单额', width: 130, align: 'left' },
                { label: '平均单额', name: '平均单额', width: 130, align: 'left' }
            ],
            pager: "#gridPager",
            sortname: 'CrDate desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }


</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>

    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="输入日期如:20160909" style="width: 230px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
