@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    $.reCreateDayReport = function (options) {
        var defaults = {
            prompt: "注：您确认要重新生成本店所有日报表吗，这将耗费一点时间？",
            url: "",
            param: [],
            loading: "正在生成...",
            success: null,
            close: true
        };
        var options = $.extend(defaults, options);
        if ($('[name=__RequestVerificationToken]').length > 0) {
            options.param["__RequestVerificationToken"] = $('[name=__RequestVerificationToken]').val();
        }
        $.modalConfirm(options.prompt, function (r) {
            if (r) {
                $.loading(true, options.loading);
                window.setTimeout(function () {
                    $.ajax({
                        url: options.url,
                        data: options.param,
                        type: "post",
                        dataType: "json",
                        success: function (data) {
                            if (data.state == "success") {
                                options.success(data);
                                $.modalMsg(data.message, data.state);
                            } else {
                                $.modalAlert(data.message, data.state);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $.loading(false);
                            $.modalMsg(errorThrown, "error");
                        },
                        beforeSend: function () {
                            $.loading(true, options.loading);
                        },
                        complete: function () {
                            $.loading(false);
                        }
                    });
                }, 500);
            }
        });

    }

</script>

<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/MenuSys/DayReport/GetGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'OID', hidden: true },
                { label: '日期', name: 'CrDateString', width: 130, align: 'left' },
                { label: '订单数量', name: '订单数量', width: 130, align: 'left' },
                { label: '营业额', name: '营业额', width: 130, align: 'left' },
                { label: '最高单额', name: '最高单额', width: 130, align: 'left' },
                { label: '最低单额', name: '最低单额', width: 130, align: 'left' },
                { label: '平均单额', name: '平均单额', width: 130, align: 'left' }
            ],
            pager: "#gridPager",
            sortname: 'CrDate desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }

    function btn_reCreate() {
        $.reCreateDayReport({
            url: "/MenuSys/DayReport/ReCreateAllReport",
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-ReCreateAllReport" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_reCreate()"><i class="fa fa-plus"></i>重新生成所有日报表</a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="输入日期如:20160909" style="width: 230px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
