@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    $(function () {
        gridList();
    })
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/MenuSys/Order/GetAllGridJson",
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'OID', hidden: true },
                { label: '单号', name: 'OrderNo', width: 200, align: 'left' },
                {
                    label: '状态', name: 'OrderState', width: 60, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                    if (cellvalue == 1) {
                           return '未结账';
                    } else if (cellvalue==2) {
                           return '已结账';
                    } else if (cellvalue == -1) {
                        return '已作废';
                    } else if (cellvalue == 0){
                        return '未生效';
                    }
                 }
                },

                { label: '下单时间', name: 'CreateTime', width: 150, align: 'left' },
                { label: '台位', name: 'Seat', width: 80, align: 'left' },
                { label: '人数', name: 'PeopleNum', width: 80, align: 'left' },
                { label: '服务员', name: 'MemberName', width: 80, align: 'left' },
                 { label: '备注信息', name: 'Dec', width: 200, align: 'left' }
            ],
            pager: "#gridPager",
            sortname: 'OID desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }


    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().OID;
        $.modalOpen({
            id: "Details",
            title: "查看订单信息",
            url: "/MenuSys/Order/Details?keyValue=" + keyValue,
            width: "700px",
            height: "550px",
            btn: null,
        });
    }

</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-Details"  authorize="yes"  onclick="btn_details()"><i class="fa fa-search-plus"></i>查看</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="输入模糊单号或者日期，例如20160909" style="width: 220px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
