@model NFine.Domain._02_ViewModel.ModifyPasswordViewModel

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>

    function submitForm() {

        if ($("#OldPassword").val() == "")
        {
            alert("请输入原来的密码");
        }
        else if ($("#NewPassword").val().length < 6) {
            alert("新密码必须大于等于6位");
        }
        else if ($("#NewPassword").val() != $("#pass2").val()) {
            alert("两次输入的新密码不一致");
        }
        else {
            $.submitForm({
                url: "/MenuSys/ModifyPassword/SubmitForm",
                param: $("#form1").formSerialize(),
                success: function () {
                    //$.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            })
        }


    }

</script>
<form id="form1">
    <div class="wrapper">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#a" data-toggle="tab">修改密码</a></li>
        </ul>
        <div class="tab-content" style="padding-top: 5px;">
            <div id="a" class="tab-pane active" style="padding: 15px;">
                <ul class="pop-list">
                    <li>
                        <label>账户</label>
                        <input type="text" id="UserAccount" name="UserAccount" readonly="readonly" class="form-control" value="@Model.UserAccount" />
                    </li>
                    <li>
                        <label>旧密码</label>
                        <input type="password" class="form-control" id="OldPassword" name="OldPassword" value="@Model.OldPassword" />
                    </li>
                    <li>
                        <label>新密码</label>
                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" value="@Model.NewPassword" />
                    </li>
                    <li>
                        <label>确认新密码</label>
                        <input type="password" class="form-control" id="pass2" name="pass2" value="@Model.NewPassword" />
                    </li>
                    <li>
                        <div style="padding-left: 115px;">
                            <a class="btn btn-primary" onclick="submitForm()"><i class="fa fa-save" style="margin-right:5px;"></i>保存更改</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</form>